.scrollable-1{
 height: 200px;
 width: 60%;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: rgb(80, 80, 85);
 border-radius: 20px;
 margin: 50px;
}
.scrollable-2{
 height: 200px;
 width: 60%;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: rgb(80, 80, 85);
 border-radius: 20px;
 margin: 50px;
}
.scrollable-3{
 height: 200px;
 width: 60%;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: rgb(80, 80, 85);
 border-radius: 20px;
 margin: 50px;
}